$background-color: #E0EFE5;
$primary-color: #006437;
$second-color: #FFFFFF;
$sub-title-color: #B4DDC1;
$publication-date: #D5D5D5;
$card-text-color: #161615;
$card-graph-color: #72BF44;

$extra-large-breakpoint: 1500px;
$large-breakpoint: 1380px;
$medium-breakpoint: 1080px;
$small-breakpoint: 650px;
$mini-breakpoint: 375px;
$micro-breakpoint: 320px;

$font-size-max: 60px;
$font-size-medium: 20px;
$small-font-size: 18px;
$mini-font-size: 16px;
$tiny-font-size: 14px;
$font-size-micro: 12px;

$background-image: '../../assets/img-header.jpg';
$BentonSansCondensed-Black: '../assets/fonts/BentonSansCondensed-Black.otf';
$BentonSansCondensed-BlackIta: '../assets/fonts/BentonSansCondensed-BlackIta.otf';
$BentonSansCondensed-Bold: '../assets/fonts/BentonSansCondensed-Bold.otf';
$BentonSansCondensed-BoldIta: '../assets/fonts/BentonSansCondensed-BoldIta.otf';
$BentonSansCondensed-Italic: '../assets/fonts/BentonSansCondensed-Italic.otf';
$BentonSansCondensed-Medium: '../assets/fonts/BentonSansCondensed-Medium.otf';
$BentonSansCondensed-MediumIta: '../assets/fonts/BentonSansCondensed-MediumIta.otf';
$BentonSansCondensed-Regular: '../assets/fonts/BentonSansCondensed-Regular.otf';
