@import '../../sass/variables.scss';


.card-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  gap: 20px;
  background: $background-color;
  padding: 50px 160px 44px 160px;
  height: auto;
  width: 100%;
}

.card{
  position: relative;
  display: flex;
  align-items: center;
  gap: 6.5px;
  height: 100px;

  border-radius: 50px 15px 15px 50px;
  border: 2px solid $light-text-color;

  padding: 10px;
  text-align: left;

  background: $second-color;

  .card-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $primary-color;
    overflow-y: hidden;

    img{
      width: 80px;
      height: 80px;
    }
  }

  .card-name{
    font-size: $font-size-mini;
    font-family: BentonSansCondensed-Bold, sans-serif;
    letter-spacing: .51px;
    line-height: 19.2px;
    color: $primary-color;
  }

  span{
    font-size: 13px;
    font-family: BentonSansCondensed-Regular, sans-serif;
    line-height: 15.6px;
    letter-spacing: .53px;
  }

  .saiba-mais{
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 20px;
    height: 20px;
    background: url('../../assets/icones/saiba-mais.svg');
    transition: background .3s;

    &:hover{
      background: url('../../assets/icones/saiba-mais-hover.svg');
    }
  }
}

@media(max-width: 1499px){
  .card-container{
    padding: 50px 100px 44px 100px;
  }
}

@media(max-width: $large-breakpoint){
  .card-container{
    padding: 50px 40px 44px 40px;
  }
}

@media(max-width: $micro-breakpoint){
  .card-container{
    padding: 17px 20px 14px 20px;
  }
}
