@import '../../../sass/variables.scss';

.modal{
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #006437CC;
}


@keyframes slide-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: translateX(0) ;
            transform: translateX(0) ;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}


@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}

.card-modal{
  width: 356px;
  height: 390px;

  border-radius: 80px 15px 15px 15px;
  background: $second-color;
  border: 2px solid #B4DDC1;

  position: relative;

  display: flex;
  gap: 29px;
  padding: 26px 0 0 28px;

  overflow: hidden;

  .icon-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 4px;
    background: url(../../../assets/icones/fechar.svg);
    transition: background .3s;
    &:hover{
      background: url(../../../assets/icones/fechar-hover.svg);
    }
  }

  .card-modal-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $primary-color;
    overflow-y: hidden;
    margin-bottom: 5px;

    img{
      width: 100px;
      height: 100px;
    }
  }

  .card-modal-position{
    & > span{
      max-width: 100px;
      width: 100%;
      white-space: nowrap;
      display: block;
      font-size: $font-size-ex-tiny;
      font-family: BentonSansCondensed-Bold, sans-serif;
      font-weight: bold;
      line-height: 15.6px;
      letter-spacing: .61px;
      text-align: center;

      color: $card-text-color;

      & ~ span{
        font-family: BentonSansCondensed-Regular, sans-serif;
        font-weight: normal;
      }
    }
  }

  h2{
    text-align: left;
    font-size: $font-size-medium;
    font-family: BentonSansCondensed-Bold, sans-serif;
    letter-spacing: .64px;
    line-height: 19.2px;

    margin-bottom: 22px;

    color: $primary-color;
  }
  .card-modal-text{
    top: 72px;
    width: 185px;
    height: 318px;
    padding-right: 2px;

    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 15px;
    }

    p{
      width: 178px;
      line-height: 20px;
      letter-spacing: .61px;
      font-size: $font-size-ex-tiny;
      text-align: left;
      color: $card-text-color;
      font-family: BentonSansCondensed-Regular, sans-serif, monospace;
      padding-bottom: 120px;
    }
  }
}

.card-modal-buttons{
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;

  padding: 24px 0 16px 68px;

  width: 100%;
  height: 68px;

  background: $second-color;

  display: flex;
  gap: 20px;

  .button-content{
    display: flex;
    align-items: center;
    gap: 13px;

    span{
      align-items: center;
    }
    .arrow-right,
    .arrow-left{
      width: 8px;
      height: 18px;
    }
  }
  .previous{
    justify-content: flex-end;
    margin-right: 20px;
  }
  .next{
    justify-content: flex-start;
    margin-left: 20px;
  }
}

.card-modal-row:after {
  content:"";
  position:absolute;
  top:284px;
  left:157px;
  height:40px;
  width:177px;
  background: -webkit-linear-gradient(transparent, $second-color);
  background: linear-gradient(transparent, $second-color);
}

.grafico-component{
  position: absolute;
  left: 23px;
  bottom: 68px;
  z-index: 10;
}

@media (max-width: $small-breakpoint) {
  .card-modal{
    width: 280px;
    height: 350px;
    padding: 0 0 0 10px;
    border-radius: 50px 15px 15px 15px;
    gap: 6.5px;

    .card-modal-image{
      width: 80px;
      height: 80px;
      background: $primary-color;
      margin-top: 10px;

      img{
        width: 80px;
        height: 80px;
      }
    }

    h2{
      position: absolute;
      top: 10px;
      font-size: $font-size-mini;
      letter-spacing: .51px;

      margin-bottom: 0;
    }

    .card-modal-position{
      position: absolute;
      left: 96.5px;
      top: 30px;
      display: flex;
      gap: 2px;
      justify-content: flex-start;
      height: 15px;
      width: auto;
      white-space: nowrap;
      text-align: left;

      pre{
        color: $primary-color;
        height: 15px;
        width: 2px;
        margin-right: 2px;
      }
      span{
        display: flex;
        width: 100%;
        white-space: nowrap;
        font-size: 13px;
        font-family: BentonSansCondensed-Regular, sans-serif;
        font-weight: normal;
        letter-spacing: .53px;
      }
    }
     .card-modal-text{
      position: absolute;
      top: 112px;
      left: 24px;
      width: 237px;
      height: 230px;

      p{
        width: auto;
      }
    }
  }
  .grafico-component{
    left: 96.5px;
    bottom: 256.5px;
    z-index: 10;
    .info{
      span{
        height: 15px;
      }
    }
  }

  .card-modal-buttons{
    align-items: flex-end;
    padding: 0 0 21px 30px;
  }

  .card-modal-buttons:after {
    content:"";
    position:absolute;
    top:-38px;
    left:24px;
    height:40px;
    width:230px;
    background: -webkit-linear-gradient(transparent, $second-color);
    background: linear-gradient(transparent, $second-color);
  }
  .card-modal-row:after{
    display: none;
  }
}
