@import '../../../sass/variables.scss';

button{
  border: none;
  outline: none;
  width: 100px;
  height: 28px;
  border-radius: 14px;

  background: $light-text-color;

  span{
    display: flex;

    width: 52px;
    height: 18px;
    font-size: $font-size-ex-tiny;
    font-family: BentonSansCondensed-Italic, sans-serif;
    letter-spacing: .6px;
    line-height: 15.6px;

    color: $primary-color;
  }

  border: 2px solid transparent;
  transition:  border-color .3s;

  &:hover{
    border-color: $primary-color;
  }
}
